body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    line-height: 19.5px;
    color: rgb(14, 14, 16);
}

p {
    font-weight: 400;
    font-size: 13px;
}

label {
    font-weight: 400;
    font-size: 13px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}

blockquote {
    border-left-color: rgb(169, 112, 255);
    border-left-style: solid;
    border-left-width: 2.4px;
    padding-left: 0px;
    margin-left: 0px;
}

blockquote p {
    padding-left: 10px;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-left: 0px;
}

.timerange button {
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
}

.timerange button:hover {
    background: rgb(169, 112, 255);
    color: rgb(14, 14, 16);
}
