export CLIENT_ID="abcdefghijklmnopqrstuvwxyz1234"
export CLIENT_SECRET="1234567890qwertyuiopasdfghjkla"
export EXTENSION_SECRET="YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQo="
export REDIRECT_URI="https://twitch.hv1.jaedolph.net/auth"
export TWITCH_API_BASEURL="https://api.twitch.tv/helix"
export EVENTSUB_CALLBACK_URL="https://verifiedfirst.jaedolph.net/eventsub"
export REQUEST_TIMEOUT=5
export EVENTSUB_SECRET="secret1234!"
export SQLALCHEMY_DATABASE_URI="sqlite:////tmp/app.db"