export VFIRST_CLIENT_ID="abcdefghijklmnopqrstuvwxyz1234"
export VFIRST_CLIENT_SECRET="1234567890qwertyuiopasdfghjkla"
export VFIRST_EXTENSION_SECRET="YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQo="
export VFIRST_REDIRECT_URI="https://verifiedfirst.jaedolph.net/auth"
export VFIRST_EVENTSUB_CALLBACK_URL="https://verifiedfirst.jaedolph.net/eventsub"
export VFIRST_REQUEST_TIMEOUT=5
export VFIRST_EVENTSUB_SECRET="secret1234!"
export VFIRST_LOG_LEVEL="INFO"
export VFIRST_SQLALCHEMY_DATABASE_URI="sqlite:////tmp/app.db"