name: Run ESLint on javascript

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install modules
      run: yarn
    - name: Run ESLint
      run: node_modules/eslint/bin/eslint.js  *.js *.mjs
