name: Create zip of frontend files

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  zip-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/upload-artifact@v5
        with:
          name: verifiedfirst-frontend
          path: |
            *.js
            *.css
            *.html
